h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color:azure;
}

canvas {
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 15px;
}

@keyframes glow {
    from{box-shadow: 10px 10px 35px blue;}
    to{box-shadow: 10px 10px 35px purple;} 
}